body {
  background: grey;
  background-image: url("elefante.jpg");
  background-size: 100%;
  font-family: consolas;
}

h1 {
  color: blue;
}

li {
  color: red;
}

#participantes li {
  color: green;
  list-style: decimal;
}

#comandos li {
  color: blue;
  list-style: decimal;
}
