body {
  background-image: url("elefante.jpg");
  background-size: 100%;
  text-align: justify;
  font-family: "Lobster", "Times", serif;
}

h1 {
  color: blue;
}

li {
  color: green;
}

#participantes li {
  color: green;
  list-style: decimal;
}

#comandos li {
  color: blue;
  list-style: decimal;
}
